/* This file is for your main application css. */

html, body {
	width: 100%;
	height: 100%;
	margin: 0;
	font-family: 'Titillium Web', sans-serif;
}

table {
  border-collapse: collapse;
}

td {
	padding: 0;
	margin: 0;
}

:root {
	--brand-dark: #3c4250;
	--brand-light: #94A6D1;
	--brand-accent: #C2698F;
}

/* Dark */
.brand-dark {
	color: var(--brand-dark);
}

.bg-brand-dark {
	background: var(--brand-dark);
}

.b--brand-dark {
	border-color: var(--brand-dark);
}

.hover-brand-dark:hover {
	color: var(--brand-dark);
}

.hover-bg-brand-dark:hover {
	background: var(--brand-dark);
}

/* Light */
.brand-light {
	color: var(--brand-light);
}

.bg-brand-light {
	background: var(--brand-light);
}

.b--brand-light {
	border-color: var(--brand-light);
}

.hover-brand-light:hover {
	color: var(--brand-light);
}

.hover-bg-brand-light:hover {
	background: var(--brand-light);
}

/* Accent */
.brand-accent {
	color: var(--brand-accent);
}

.bg-brand-accent {
	background: var(--brand-accent);
}

.b--brand-accent {
	border-color: var(--brand-accent);
}