<div class="search-results">
  <ul>
    <li><a href="#">some stuff</a></li>
    <li><a href="#">some stuff</a></li>
    <li><a href="#">some stuff</a></li>
    <li><a href="#">some stuff</a></li>
    <li><a href="#">some stuff</a></li>
    <li><a href="#">some stuff</a></li>
  </ul>
</div>


