<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Gradely</title>
    <link rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/app.css") %>"/>
    <link href='https://fonts.googleapis.com/icon?family=Material+Icons' rel='stylesheet'>
    <link href="https://fonts.googleapis.com/css?family=Titillium+Web:300,400,600&display=swap" rel="stylesheet">
    <link rel="shortcut icon" href="/images/logo.png" />
  </head>
  <body class="flex bg-gray-200">

    <nav class="w-20 bg-white border-r border-gray-400">
      <a role=logo href="/" up-target=".container">
        <img src="/images/logo.png" class="mx-auto mb-4 w-16" alt="logo">
      </a>
      <a role=menu-item href="/students" up-target=".container" class="flex items-center justify-center h-16 text-gray-600 hover:bg-gray-300 border-solid hover:border-gray-700 border-l-4">
        <i class="material-icons">face</i>
      </a>
      <a role=menu-item href="/courses" up-target=".container" class="flex items-center justify-center h-16 text-gray-600 hover:bg-gray-300 border-solid hover:border-gray-700 border-l-4">
        <i class="material-icons">book</i>
      </a>
    </nav>

    <main class="flex-auto">
      <div class="top-bar flex items-center h-12 pl-8 bg-white border-b border-gray-400">
        <span class="search flex items-center text-xl">
          <i class="material-icons text-gray-400">search</i>
          <input class="ml-2 text-gray-600" type="text" placeholder="Search">
        </span>

      </div>


      <div class="container mx-auto p-8">
        <%= render @view_module, @view_template, assigns %>
      </div>

    </main>
    <script type="text/javascript" src='<%= Routes.static_path(@conn, "/js/app.js") %>'></script>
  </body>
</html>
